body {
  font-family: 'Inconsolata', monospace;
}

.wrapper {
  display: grid;
  grid-template-areas: 'h h' 'n c';
  grid-template-rows: 12fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  background-color: #F5EDDC;

}

.wrapper-content {
  grid-area: c;
  background-color: #FCF8E8;

}
